/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header-tag{
  font-style: bold;
}

.about-rubyinsense{
  text-align:center;
  font-weight:bold;
}

.profile-pic {
  width:225px;
  height:216px;
  border-radius:50%;
}

.member-1{
  margin-left: 212px;
  padding-right: 78px;
  margin-right: 53px
}

.member-2{
  margin-right: 53px;
}

.member-1, .member-2, .member-3 {
  width: 225px;
  height:260px;
  float: left;
}

.profile-name{
  margin-top: 5px;
  margin-left: 65px;
}

.first-section{
  margin-left: 287px;
  font-size: 20px;
  margin-top: 50px;
}

.second-section{
  height:270px;
  margin-top:20px;
}

.contributor{
  width:75px;
  height:75px;
}

.contributor-text{
  font-size: 19px;
  margin-left: 260px;
  margin-top: 20px;
}

.contributor-1{
  margin-left: 273px
}
.contributor-2, .contributor-3{
  margin-left: 40px;
}

#footer{
  padding: 10px;
}
